modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 38492428
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx hardhat run --network bsc bot/index.ts"
